<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel='stylesheet' type='text/css' href='member.css'/>
<script src='jquery-3.4.1.js'></script>
<script src='board2.js'></script>
</head>
<body>
	<span><%=msg%></span>
	<form id='frm' name='frm' method='post'>
		<input type='button' value='목록' id='btnSelect'/>
		<input type='hidden' name='findStr' value='<%=findStr%>'/>
	</form>
	<script>btnFunc();</script>
</body>
</html>